.Text {
  border-radius: 50vh;
  box-shadow: 6px 6px 12px #b8b1b1, -6px -6px 12px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12vh;
  font-weight: bolder;
  text-decoration: none;
}

.Circle {
  position: absolute;
  clip-path: circle(26.4% at 44% 52%);
  cursor: pointer;
  transition: width height 0.4s ease-in-out;
}

/* Estilos para los puntos */
.C1 {
  top: 11vh;
  left: 19vw;
  width: 2vw;
  height: 2vh;
  background-color: #fa7d09;
}

.Text1 {
  top: 3vh;
  left: 25.5vw;
  font-size: 1.2vh;
  width: 5vw;
  height: 2vh;
  transition: all 2s ease;
}

.C2 {
  top: 6vh;
  left: 24.5vw;
  width: 2vw;
  height: 2vh;
  background-color: #041c32;
}

.Text2 {
  top: 6vh;
  left: 26vw;
  font-size: 1.2vh;
  width: 5vw;
  height: 2vh;
  transition: all 2s ease;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.C3 {
  top: 9vh;
  left: 24.7vw;
  width: 2vw;
  height: 2vh;
  background-color: #f5f;
}

.Text3 {
  top: 9vh;
  left: 26.3vw;
  font-size: 1.2vh;
  width: 5vw;
  height: 2vh;
  transition: all 2s ease;
  color: #082032;
}

.C4 {
  top: 13vh;
  left: 25vw;
  width: 2vw;
  height: 2vh;
  background-color: #f54;
}

.Text4 {
  top: 13vh;
  left: 26.5vw;
  font-size: 1.2vh;
  width: 5vw;
  height: 2vh;
  transition: all 2s ease;
  color: #082032;
}

.C5 {
  top: 16vh;
  left: 25.1vw;
  width: 2vw;
  height: 2vh;
  background-color: #b45;
}

.Text5 {
  top: 16vh;
  left: 26.5vw;
  font-size: 1.2vh;
  width: 5vw;
  height: 2vh;
  transition: all 2s ease;
  color: #082032;
}
.C6 {
  top: 19.5vh;
  left: 25.5vw;
  width: 2vw;
  height: 2vh;
  background-color: #f54;
}

.Text6 {
  top: 19.5vh;
  left: 27vw;
  font-size: 1.2vh;
  width: 5vw;
  height: 2vh;
  transition: all 2s ease;
  color: #082032;
}

.C7 {
  top: 30vh;
  left: 25vw;
  width: 2vw;
  height: 2vh;
  background-color: #f5f;
}

.Text7 {
  top: 10.2vh;
  left: 31vw;
  font-size: 1.2vh;
  width: 5vw;
  height: 2vh;
  transition: all 2s ease;
  color: #082032;
}

.Text7__Mapa {
  top: 43.8vh;
  left: 15vw;
}
.C8 {
  top: 20vh;
  left: 22vw;
  width: 2vw;
  height: 2vh;
  background-color: #b45;
}

.Text8 {
  top: 10.2vh;
  left: 31vw;
  font-size: 1.2vh;
  width: 5vw;
  height: 2vh;
  transition: all 2s ease;
  color: #082032;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.Text8__Mapa {
  top: 43.8vh;
  left: 23vw;
  width: 70px;
}
