@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.cuestionario {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .texto__banner{
    font-family: 'Permanent Marker', cursive;
    color: white; /* Color del texto */
    font-size: 60px; /* Tama«Ðo del texto */
    font-weight: bold; /* Peso del texto */
    margin-top: 38vh;
    margin-left: auto;
    text-align: right;
  
}

.linea__sep{
    border-top: 3px solid #F5DE39;
    height: 2px;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-left: 246px; 
    top: 123px;
}

/*Slider con clase image*/
.image{
    width: 520px;
    height: 380px;
  }  
  .contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #63d0c8;
    background-image: linear-gradient(0deg, #162E44 7%, #162E44 51%, #ffffff 100%);
  }
  
  .tabla {
    width: 25%;
    height: 450px;
    margin: auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #162e44;
    padding: 5px;
    text-align: center;
    flex-grow: 1;
    color: #000;
  }
  
  .tabla h2 {
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .tabla img {
    width: 220px;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .tabla p {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .boton {
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: #fff;
    text-decoration: none;
    color: #162e44;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
    box-shadow: 0px 0px 4px 2px #162e44;
  }
  
  .tabla:hover {
    color: #000;
    background-color: #63d0c8;
    background-image: linear-gradient(0deg, #162E44 37%, #ccdcdc 100%);
    transition: 0.5s all;
    transform: scaleX(1.4) scaleY(1.2);
    cursor: pointer;
  }
  

  #gas {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 1000px) {
    .tabla {
      width: 45%;
      max-width: none;
      margin-bottom: 40px;
      flex-grow: initial;
    }
  }
  
  @media screen and (max-width: 700px) {
    .tabla {
      width: 45%;
    }
    .tabla > h2 {
      margin-top: 5px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .tabla {
      width: 85%;
      padding: 20px;
    }
  }
  .galeria01{
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    
}

.galeria01 h3{
    text-align: center;
    margin:20px 0 15px 0;
    
}

.contenedor-imagenes01{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes01 .imagen01{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen01 img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay01{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.573);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay01 h2{
    color: #fff;
    font-weight: 300;
    font-size:25px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen01:hover .overlay01{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes01{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes01{
        width: 90%;
    }
    .contenedor-imagenes01 .imagen01{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes01{
        width: 98%;
    }
    .contenedor-imagenes01 .imagen01{
        width: 80%;
    }
}
.regresar {
    display: block;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #162E44;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}
body{
	background-color:  white;
	font-family: Arial;
}
.tabla2{
    width: 50%;
	height: 300px;
    text-align: center;
}

table{
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
    background-color: rgb(248, 245, 245);
    border-collapse: collapse; /*JUNTA LAS TABLAS*/
    border: 1px solid rgba(150, 147, 147, 0.07);
    margin: auto; /*SE CENTRA LA TABLA*/
}

th{
    text-align: center;
    background-color: #162e44;
    font-size: large;
    color: white;
}
td{
    text-align: center;
    border-bottom: 2px solid rgba(112, 110, 110, 0.07);
    color: rgb(0, 0, 48);
    font-size: 14px;
}

th, td{
	padding: 12px;
}

thead{
    text-align: center;
	background-color:#223964;
	border-bottom: solid 5px #223964;
	color: white;
    
}

tr:nth-child(even){
	background-color: #daf6fc; 
}

tr:hover td{
	background-color: #01094d9e;
	color: rgb(255, 255, 255);
}
.d{
background-color: #367b96;}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    font-family: monospace;
}

.galeria h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #002a43e7;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.573);
    width: 100%;
    height: 0%;
    transition: 0.5s ease;
    overflow: hidden;
}
.overlay h2{
    color: white;
    font-family: monospace;
    font-weight: 300;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size: 22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}


/*----------------------------*/


/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
    font-family: 'Montserrat';
	margin-bottom: 5px;
    text-align: center;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #082032;
	border: 2px solid #DCDCDC;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #163e44;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
.galeria01{
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
    
}

.galeria01 h3{
    text-align: center;
    margin:20px 0 15px 0;
    
}

.slider1{
  width: 500px;
  height: 400px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.crop{
  position:absolute;
  left: -100%;
  right: -100%;
  top: -150%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.contenedor-imagenes01{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes01 .imagen01{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen01 img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay01{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.573);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay01 h2{
    color: #fff;
    font-weight: 300;
    font-size:25px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen01:hover .overlay01{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes01{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes01{
        width: 90%;
    }
    .contenedor-imagenes01 .imagen01{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes01{
        width: 98%;
    }
    .contenedor-imagenes01 .imagen01{
        width: 80%;
    }
}
